.github
coverage
docs
node_modules
src
test

.editorconfig
.mocharc.json
.prettierrc
eslint.config.mjs
jest.config.ts
tsconfig.browser.json
tsconfig.esm.json
tsconfig.json
tsconfig.test.json
typedoc.json
webpack.config.cjs
